.Heading {
  color: rgb(0, 0, 0);
  font-size: 16px;
  position:relative; left:150px; top: 13px;
  font-family: 'Open Sans', sans-serif;
  line-height: 0.5;
}

img {
  width: 110%;
  height: 110%;
  position: relative; right: 20px;
  pointer-events: none;
}
.container{
  text-align: center;
}

.btn-1{
  background-color: #DCDCDC;
  border-radius: 100px;
  border: none;
  color: black;
  height: 25px;
  width: 75px;
  transition: 300ms ease-in-out;
}

.btn-2{
  background-color: #DCDCDC;
  border-radius: 100px;
  border: none;
  color: black;
  height: 25px;
  width: 75px;
  transition: 300ms ease-in-out;
}

.btn-3{
  background-color: #DCDCDC;
  border-radius: 100px;
  border: none;
  color: black;
  height: 25px;
  width: 75px;
  transition: 300ms ease-in-out;
}

.btn-1:hover,
.btn-2:hover,
.btn-3:hover
{
  color: rgb(81, 15, 204);
}

.btn-1:focus,
.btn-2:focus,
.btn-3:focus
{
  background-color: rgb(81, 15, 204);
}