.body {
  margin: 1em;
}

.header {
    color: rgb(0, 0, 0);
    font-size: 35px;
    margin: 0.5em;
    font-family: 'Open Sans', sans-serif;
    font-style: bold 700;
  }
  a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: black;
  }
  
  a:active {
    text-decoration: none;
    color: black;
  }
.paragraph {
    color: rgb(0, 0, 0);
    font-size: 18px;
    position:relative; left:150px; top:30px;
    font-family: 'Open Sans', sans-serif;
    line-height: 0.7;
}
.image{
  position: absolute;
  width:100px;
  height:40px;
}

.button {
  top:11%;
  left:55%;
  width:100px;
  height:40px;
  position: absolute;
  z-index: 2;
  background: orange; 
}