.all {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  font-style: bold 700;

  top: 0px;
}

  a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  a:active {
    text-decoration: none;
    color: black;
  }

.paragraph {
  color: rgb(0, 0, 0);
  font-size: 16px;
  position:relative; left:150px; top: 13px;
  font-family: 'Open Sans', sans-serif;
  line-height: 0.7;
}

img {
  width: 110%;
  height: 110%;
  position: relative; right: 20px;
  pointer-events: none;
}
.container{
  text-align: center;
}

.btn-1{
  background-color: #DCDCDC;
  border-radius: 100px;
  border: none;
  color: black;
  height: 25px;
  width: 75px;
  transition: 300ms ease-in-out;
}

.btn-2{
  background-color: #DCDCDC;
  border-radius: 100px;
  border: none;
  color: black;
  height: 25px;
  width: 75px;
  transition: 300ms ease-in-out;
}

.btn-2:hover,
.btn-1:hover
{
  color: green;
}

.btn-2:focus,
.btn-1:focus
{
  background-color: rgb(81, 211, 81);
}