.background{
    position:relative; left:100px; top: 13px;
    pointer-events: none;
    background-size: cover;
}

.heading{
    position:relative; left:100px; top: 12px;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 12x;
    text-decoration: none;
}